{{ component( "Ceres::Basket.Components.AddToBasket" ) }}

{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% set image = item.data.images.all | first %}
{% set configItemName = config("Ceres.item.name") %}
{% set itemUrl =  item.data | itemURL %}


{% if enableCarousel is not defined %}
    {% if config("Ceres.item.enable_image_carousel") == "true" %}
        {% set enableCarousel = "true" %}
    {% else %}
        {% set enableCarousel = "false" %}
    {% endif %}
{% endif %}

<!-- Auction CategoryListItemWithAuction -->
{#{% set auction = auctions.auction.getAuctionForItemId(item.data.variation.itemId) %}#}
{% set numberOfVisitors = auctions.visitorCounter.getNumberOfVisitorsForLists(auction.itemId) %}

{% set bidderListLast = auction.bidderList | last %}
{% set bidderListLength = auction.bidderList | length %}

<article class="cmp cmp-product-thumb cmp-product-thumb--grid auction-list-article">
    
    <div class="thumb-inner auction-list-thumb">
        
        {#Auktion Ecke #}
        <a href="{{ itemUrl }}">
            <div class="add-to-basket-lg-container hidden-md-down auction-basket-corner"
                    v-tooltip data-toggle="tooltip"
                    data-placement="top"
                    title="{{ trans("CeresSchaffrath::Template.goToAuction") }}">
                
                <i class="fa fa-gavel fa-lg mobile-icon-right"></i>
            </div>
        </a>
        
        <div class="auction-list-back thumb-background"></div>
        
        <div class="col-xs-3 col-sm-2 auction-list-image">
            <div class="square-container">
                <div class="square-inner main-image">
                    <a href="{{ itemUrl }}">
                        <img class="img-fluid auction-list-thumb-fluid" src="{{ image.urlMiddle }}">
                    </a>
                </div>
            </div>
        </div>
        

        <!-- Auction Banner -->
        <div class="auction-category-item-special auction-list-special">
            {% if auction.tense == 'future' %}
                <h1 class="auction-list-special-tag">{{ trans("CeresSchaffrath::Template.auctionFuture") }}</h1>
            {% elseif auction.tense == 'present' %}
                <h1 class="auction-list-special-tag">{{ trans("CeresSchaffrath::Template.auctionPresent") }}</h1>
            {% else %}
                <h1 class="auction-list-special-tag">{{ trans("CeresSchaffrath::Template.auctionPast") }}</h1>
            {% endif %}
        </div>
        <!-- ./Auction Banner -->
        
        <!-- ITEM DETAILS CeresSchaffrath -->
        
        <div class="col-xs-6 col-sm-8 auction-list-content">
            <div class="col-sm-7 auction-list-title-block">
                
                <p class="thumb-title auction-list-thumb-title"><a href="{{ itemUrl }}">{{ item.data.texts | itemName(1) }}</a></p>
                
                <p class="thumb-title auction-list-thumb-title-small">{{ item.data.texts | itemName(2) }}</p>
                
                <dl class="auction-list-bidderinfos">
                     <!-- Anzahl Gebote -->
                    <dt class="auction-list-bidderinfos-dt">{{ trans("PluginAuctions::Template.countOffers") }}</dt>
                    <dd class="auction-list-bidderinfos-dd">{{ bidderListLength - 1 }}</dd>
        
                     <!-- Anzahl Besucher -->
                    <dt class="auction-list-bidderinfos-dt">{{ trans("PluginAuctions::Template.countVisitors") }}</dt>
                    <dd class="auction-list-bidderinfos-dd">{{ numberOfVisitors }}</dd>
        
                     <!-- Restzeit -->
                    <dt class="auction-list-bidderinfos-dt">{{ trans("PluginAuctions::Template.timeLeft") }}</dt>
                    <dd class="auction-list-bidderinfos-dd">2T 13Std (13.15.2017)"</dd>
                </dl>

            </div>
            
            <div class="col-sm-5 thumb-meta auction-list-bid-block text-right">
                {% if auction.tense == 'future' %}
                    <div class="auction-list-bid-text">
                        <h4>{{ trans("PluginAuctions::Template.startPrice") }}
                            <span class="auction-list-gavel"><i class="fa fa-pencil fa-lg text-warning"
                                        aria-hidden="true"></i></span></h4>
                    </div>
                    
                    <div class="prices price auction-list-price">
                        {{ auction.startPrice | formatMonetary('EUR') }} <span class="auction-list-price-star">*</span>
                    </div>
                {% elseif auction.tense == 'present' %}
                    <div class="auction-list-bid-text">
                        {% if bidderListLength > 1 %}
                            <h4>{{ trans("CeresSchaffrath::Template.highestBid") }}
                                <span class="auction-list-gavel"><i class="fa fa-gavel fa-lg text-danger"
                                            aria-hidden="true"></i></span></h4>
                        {% else %}
                            <h4>{{ trans("CeresSchaffrath::Template.currentBid") }}
                                <span class="auction-list-gavel"><i class="fa fa-gavel fa-lg text-danger"
                                            aria-hidden="true"></i></span></h4>
                        {% endif %}
                    
                    </div>
                    <div class="prices price auction-list-price">
                        {% if bidderListLength > 1 %}
                            {{ bidderListLast.bidPrice | formatMonetary('EUR') }} <span class="auction-list-price-star">*</span>
                        {% else %}
                            {{ auction.startPrice | formatMonetary('EUR') }} <span class="auction-list-price-star">*</span>
                        {% endif %}
                    </div>
                {% else %}
                    <div class="auction-list-bid-text">
                        <h4>{{ trans("CeresSchaffrath::Template.closedPrice") }}
                            <span class="auction-list-gavel"><i class="fa fa-lock fa-lg"
                                        aria-hidden="true"></i></span></h4>
                    </div>
                    <div class="prices price auction-list-price">
                        {{ bidderListLast.bidPrice | formatMonetary('EUR') }} <span class="auction-list-price-star">*</span>
                    </div>
                {% endif %}
                
                <div class="vat-porto-info small text-muted text-right auction-list-porto">
                    <sup>*</sup> {{ trans("Ceres::Template.itemExclusive") }} {{ trans("CeresSchaffrath::Template.surcharge") }}
                    | {{ trans("Ceres::Template.itemInclVAT") }}
                </div>
            </div>
        </div>
        <!--  end ITEM DETAILS  -->
    </div>
</article>