{{ component( "Ceres::Basket.Components.AddToBasket" ) }}

{% set showHeaderNavBar = config("Ceres.header.show_navbars") %}
{% set configItemName = config("Ceres.item.name") %}


{% set lang = services.sessionStorage.getLang() %}
{% set shippingCat = config("Ceres.global.shippingCostsCategoryId") %}

{% if enableCarousel is not defined %}
    {% if config("Ceres.item.enable_image_carousel") == "true" %}
        {% set enableCarousel = "true" %}
    {% else %}
        {% set enableCarousel = "false" %}
    {% endif %}
{% endif %}

<script type="x/template" id="vue-category-item">
    <li class="col-xs-12 col-sm-6 col-md-4 col-lg-{% if (showHeaderNavBar == "side" or showHeaderNavBar == "both") and not services.template.isSearch() %}4{% else %}3{% endif %}">

        <article class="cmp cmp-product-thumb cmp-product-thumb--grid">
            <div class="thumb-inner">

                <add-to-basket template="#vue-add-to-basket"
                        v-if="!isAuction"
                        :item="itemData"
                        :show-quantity="false"
                        :use-large-scale="true"
                        :item-url="itemData | itemURL"></add-to-basket>

                <div class="thumb-background"></div>

                <div v-if="isAuction"
                        class="add-to-basket-lg-container hidden-md-down auction-basket-corner"
                        v-tooltip data-toggle="tooltip"
                        data-placement="top"
                        title="{{ trans("CeresSchaffrath::Template.goToAuction") }}">
                    <i class="fa fa-gavel fa-lg mobile-icon-right"></i>
                </div>


                <div class="thumb-image">
                    <div class="square-container">
                        <div class="square-inner main-image">
                            <category-image-carousel template="#vue-category-image-carousel"
                                    :image-urls="itemData.images | itemImages imageUrlAccessor"
                                    :alt-text="texts | itemName {{ configItemName }}"
                                    :item-url="itemData | itemURL"
                                    :show-dots="{{ config("Ceres.item.category_show_dots") | json_encode() }}"
                                    :show-nav="{{ config("Ceres.item.category_show_nav") | json_encode() }}"
                                    :enable-carousel="{{ enableCarousel }}">
                            </category-image-carousel>
                        </div>
                    </div>
                </div>

                <!-- STORE SPECIALS -->
                <item-store-special
                        v-if="storeSpecial && !isAuction"
                        :store-special="storeSpecial"
                        :variation-retail-price="variationRetailPrice"
                        :decimal-count="decimalCount"></item-store-special>
                <!-- ./STORE SPECIALS -->
                <!-- Banner custom  Auktionen -->
                <div class="auction-category-item-special"
                        v-if="isAuction">
                    <h1 class="auction-special-tag"
                            v-if="auctionParams.tense === 'future'"
                    >{{ trans("CeresSchaffrath::Template.auctionFuture") }}</h1>

                    <h1 class="auction-special-tag"
                            v-if="auctionParams.tense === 'present'"
                    >{{ trans("CeresSchaffrath::Template.auctionPresent") }}</h1>

                    <h1 class="auction-special-tag"
                            v-if="auctionParams.tense === 'past' || auctionParams.tense === 'past_perfect'"
                    >{{ trans("CeresSchaffrath::Template.auctionPast") }}</h1>
                </div>


                <!-- ITEM DETAILS -->
                <div class="thumb-content">
                    <div class="cat-item-titel-ao">
                        <p class="thumb-title"><a href="${ itemData | itemURL }">${ texts.name2 }</a></p>
                        <p class="thumb-title small">${ texts.name3 }</p>

                        {#<p class="thumb-title small">${ auctionParams.itemId }</p>#}
                        <p class="thumb-title small">${ auctionParams.tense }</p>

                    </div>

                    <div class="thumb-meta">

                        {#Sofortkaufen#}
                        <div v-if="!isAuction"
                                class="prices">
                            <span class="m-x-2">
                                <h5>{{ trans("CeresSchaffrath::Template.buyNow") }}
                                    <span class="m-l-5"><i class="fa fa-check text-success"
                                                aria-hidden="true"></i></span></h5>
                            </span>
                            {#PREIS#}
                            {#<a href="${ itemData | itemURL }">#}
                            <span class="price"
                                    v-if="!isAuction">
                                    ${ variationRetailPrice | currency itemData.calculatedPrices.default.currency } <sup>*</sup>
                                </span>
                            {#</a>#}
                        </div>

                        {#Auktion#}
                        <div v-if="isAuction" class="prices">
                            {% if auction.tense == 'future' %}
                                <div v-if="auctionParams.tense === 'future'">
                                    <span class="m-x-2"
                                            v-if="auctionParams.tense === 'future'"
                                    >
                                        <h5>{{ trans("CeresSchaffrath::Template.startPrice") }}
                                            <span class="m-l-5"><i class="fa fa-pencil-square-o text-warning"
                                                        aria-hidden="true"></i></span></h5>
                                    </span>
                                    <span class="price">
                                        {{ auction.startPrice | formatMonetary('EUR') }} <sup>*</sup>
                                    </span>
                                </div>
                            {% elseif auction.tense == 'present' %}
                                <span class="m-x-2">
                            <h5>{{ trans("CeresSchaffrath::Template.highestBid") }}
                                <span class="m-l-5"><i class="fa fa-gavel text-danger"
                                            aria-hidden="true"></i></span></h5>
                           </span>
                                <span class="price">
                                {% if bidderListLength > 1 %}
                                    {{ bidderListLast.bidPrice | formatMonetary('EUR') }} <sup>*</sup>
                                {% else %}
                                    {{ auction.startPrice | formatMonetary('EUR') }} <sup>*</sup>
                                {% endif %}
                            </span>
                            {% else %}
                                <span class="m-x-2">
                            <h5>{{ trans("CeresSchaffrath::Template.closedPrice") }}<span class="m-l-5"><i class="fa fa-lock"
                                            aria-hidden="true"></i></span></h5>
                           </span>
                                <span class="price">
                                {{ bidderListLast.bidPrice | formatMonetary('EUR') }} <sup>*</sup>
                            </span>
                            {% endif %}

                            {#Price#}
                            <a href="${ itemData | itemURL }">
                                <span class="price">
                                    ${ auctionParams.currentPrice | currency itemData.calculatedPrices.default.currency } <sup>*</sup>
                                </span>
                            </a>
                        </div>

                    </div>

                    {#fuss#}
                    <span v-if="!isAuction" class="vat-porto-info small text-muted">
                        <sup>*</sup> {{ trans("Ceres::Template.itemInclVAT") }} {{ trans("Ceres::Template.itemExclusive") }}
                        <a {% if shippingCat is not empty %} data-toggle="modal" href="#shippingscosts"{% endif %} title="{{ trans("Ceres::Template.itemShippingCosts") }}">{{ trans("Ceres::Template.itemShippingCosts") }}</a>
                    </span>
                    <span v-if="isAuction" class="vat-porto-info small text-muted">
                        <sup>*</sup> {{ trans("Ceres::Template.itemExclusive") }} {{ trans("CeresSchaffrath::Template.surcharge") }}
                        | {{ trans("Ceres::Template.itemInclVAT") }}
                    </span>

                </div>
                <!-- ./ITEM DETAILS  -->
            </div>
        </article>
    </li>
</script>
