{{ component( "Ceres::Basket.Components.AddToBasket" ) }}

{% set showHeaderNavBar = config("Ceres.header.show_navbars") %}
{% set configItemName = config("Ceres.item.name") %}


{% set lang = services.sessionStorage.getLang() %}
{% set shippingCat = config("Ceres.global.shippingCostsCategoryId") %}

{% if enableCarousel is not defined %}
    {% if config("Ceres.item.enable_image_carousel") == "true" %}
        {% set enableCarousel = "true" %}
    {% else %}
        {% set enableCarousel = "false" %}
    {% endif %}
{% endif %}

<script type="x/template" id="vue-category-item">
    <li class="col-xs-12 col-sm-6 col-md-4 col-lg-{% if (showHeaderNavBar == "side" or showHeaderNavBar == "both") and not services.template.isSearch() %}4{% else %}3{% endif %}">

        <article class="cmp cmp-product-thumb cmp-product-thumb--grid">
            <div class="thumb-inner">
                <add-to-basket template="#vue-add-to-basket"
                        :item="itemData"
                        :show-quantity="false"
                        :use-large-scale="true"
                        :item-url="itemData | itemURL"></add-to-basket>

                <div class="thumb-background"></div>

                <div class="thumb-image">
                    <div class="square-container">
                        <div class="square-inner main-image">
                            <category-image-carousel template="#vue-category-image-carousel"
                                    :image-urls="itemData.images | itemImages imageUrlAccessor"
                                    :alt-text="texts | itemName {{ configItemName }}"
                                    :item-url="itemData | itemURL"
                                    :show-dots="{{ config("Ceres.item.category_show_dots") | json_encode() }}"
                                    :show-nav="{{ config("Ceres.item.category_show_nav") | json_encode() }}"
                                    :enable-carousel="{{ enableCarousel }}">
                            </category-image-carousel>
                        </div>
                    </div>
                </div>

                <!-- STORE SPECIALS -->
                <item-store-special v-if="storeSpecial" :store-special="storeSpecial"
                        {#:recommended-retail-price="recommendedRetailPrice"#}
                        :variation-retail-price="variationRetailPrice"
                        :decimal-count="decimalCount"></item-store-special>
                <!-- ./STORE SPECIALS -->

                <!-- ITEM DETAILS -->
                <div class="thumb-content">
                    <div class="cat-item-titel-ao">
                        <p class="thumb-title"><a href="${ itemData | itemURL }">${ texts.name2 }</a></p>
                        <p class="thumb-title small">${ texts.name3 }</p>

                        <p class="thumb-title">${ isAuction }</p>
                        <p class="thumb-title small">${ auctionParams.itemId }</p>
                        <p class="thumb-title small">${ auctionParams.currentPrice }</p>
                        <p class="thumb-title small">${ auctionParams.tense }</p>

                    </div>

                    <div class="thumb-meta">

                        <div class="prices">
                            <span class="m-x-2">
                                <h5>{{ trans("CeresSchaffrath::Template.buyNow") }}
                                    <span class="m-l-5"><i class="fa fa-check text-success"
                                                aria-hidden="true"></i></span></h5>
                            </span>

                            <a href="${ itemData | itemURL }">

                            <span class="price">
                                ${ variationRetailPrice | currency itemData.calculatedPrices.default.currency } <sup>*</sup>
                            </span>
                            </a>

                        </div>

                    </div>

                    {#fuss#}
                    <span class="vat-porto-info small text-muted">
                        <sup>*</sup> {{ trans("Ceres::Template.itemInclVAT") }} {{ trans("Ceres::Template.itemExclusive") }}
                        <a {% if shippingCat is not empty %} data-toggle="modal" href="#shippingscosts"{% endif %} title="{{ trans("Ceres::Template.itemShippingCosts") }}">{{ trans("Ceres::Template.itemShippingCosts") }}</a>
                    </span>
                </div>
                <!-- ./ITEM DETAILS  -->
            </div>
        </article>
    </li>
</script>
