<script type="x/template" id="vue-auction-countdown-itemlists">
    
    
    <span class="vue-countdown">
        ${ days } <span class="text">{{ trans("PluginAuctions::Template.counterDays") }}</span>
        ${ hours } <span class="text">{{ trans("PluginAuctions::Template.counterHrs") }} </span>
        <span class="auction-list-deadline"><i class="fa fa-calendar-times-o text-warning" aria-hidden="true"></i></span>
        ${ deadline | date ("dd DD.MMM.YYYY HH:mm:ss") }
    </span>

    {#<div id="countdown-itemlist">#}
        {#<dl class="auctionList">#}
            {#<dt>{{ trans("PluginAuctions::Template.timeLeft") }}</dt>#}
            {#<dd>#}
            {#<span>#}
            {#<ul class="vue-countdown">#}
                {#<li v-if="(days > 0)">#}
                    {#<p class="digit">${ days }</p>#}
                    {#<p class="text">{{ trans("PluginAuctions::Template.counterDays") }}</p>#}
                {#</li>#}
                {#<li>#}
                    {#<p class="digit" :class="{alarm: (days < 1) }">${ hours }</p>#}
                    {#<p class="text">{{ trans("PluginAuctions::Template.counterHrs") }}</p>#}
                {#</li>#}
                {#<li>#}
                    {#<p class="digit" :class="{alarm: (days < 1) }">${ minutes }</p>#}
                    {#<p class="text">{{ trans("PluginAuctions::Template.counterMin") }}</p>#}
                {#</li>#}
                {#<li v-if="(days < 1)">#}
                    {#<p class="digit" :class="{alarm: (days < 1)}">${ seconds }</p>#}
                    {#<p class="text">{{ trans("PluginAuctions::Template.counterSec") }}</p>#}
                {#</li>#}
            {#</ul>#}
            {#</span>#}
            {#</dd>#}
        {#</dl>#}

    {#</div>#}
</script>


<style>
    .vue-countdown {
        /*columns: #555;*/
        padding: 0;
        /*margin: -8px 0 0 0;*/
    }

    /*.vue-countdown li {*/
        /*display: inline-block;*/
        /*margin: 0 8px;*/
        /*text-align: center;*/
        /*position: relative;*/
    /*}*/

    /*.vue-countdown li p {*/
        /*margin: 0;*/
    /*}*/

    /*.vue-countdown li:after {*/
        /*content: ":";*/
        /*position: absolute;*/
        /*top: 0;*/
        /*right: -13px;*/
        /*font-size: 32px;*/
    /*}*/

    /*.vue-countdown li:first-of-type {*/
        /*margin-left: 0;*/
    /*}*/

    /*.vue-countdown li:last-of-type {*/
        /*margin-right: 0;*/
    /*}*/

    /*.vue-countdown li:last-of-type:after {*/
        /*content: "";*/
    /*}*/

    /*.vue-countdown .digit {*/
        /*font-size: 2rem;*/
        /*font-weight: 600;*/
        /*line-height: 1.4;*/
        /*margin-bottom: 0;*/
    /*}*/

    /*.vue-countdown .alarm {*/
        /*color: #c50000*/
    /*}*/

    .vue-countdown .text {
        text-transform: uppercase;
        margin-bottom: 0;
        font-size: 10px;
    }
</style>
